<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Codects - Posts</title>
        <!-- Bootstrap CSS CDN -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1 class="mt-5 mb-3 text-center">Posts</h1>
            <div class="row">
                {% for post in posts %}
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">{{ post.content|slice:200 }}...</p>
                                <p class="text-muted"><strong>Posted on:</strong> {{ post.date_posted }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- Bootstrap JS CDN -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>